<h2 mat-dialog-title>{{ data.isEdit ? 'Edit Product' : 'Add Product' }}</h2>
<form [formGroup]="categoryForm">
  <mat-form-field *ngIf="data.isEdit">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <mat-form-field *ngIf="!data.isEdit">
    <mat-label>Name</mat-label>
    <input type="text" matInput formControlName="name" [matAutocomplete]="categoryAuto">
    <mat-autocomplete #autoProduct="matAutocomplete"(optionSelected)="selectCategory($event.option.value)">
      <mat-option *ngFor="let category of filteredCategories | async" [value]="category.name">
        {{ category.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>


  <div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button mat-button color="primary" (click)="saveCategory()">Save</button>
  </div>
</form>
