<div class="container text-center mt-5">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
  
    <div class="row mt-4">
      <div class="col-md-4">
        <a routerLink="/products"  class="btn btn-primary">
          <i class="fas fa-box"></i> View Products
        </a>
      </div>
      <div class="col-md-4">
        <a routerLink="/cart" class="btn btn-success">
          <i class="fas fa-shopping-cart"></i> Go to Cart
        </a>
      </div>
      <div class="col-md-4">
        <a routerLink="/checkout" class="btn btn-warning">
          <i class="fas fa-credit-card"></i> Checkout
        </a>
      </div>
    </div>
  
    <div class="mt-5">
      <img src="assets/images/POS.jpg" class="img-fluid" alt="POS System">
    </div>
  </div>
  